extends layout

block content
    #leap-motion-demo
        div
            #output

            h1
                | Leap Motion Demo

            #player

            ol#list

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js')
    script(src='/js/leap-main.min.js')