extends layout

block content
    #verizon
        h1
            | Super Bowl City
        h2
            | San Francisco, CA
        ul
            li
                img(src='/img/vz-1.jpg', alt='Super Bowl City setup in San Francisco')
            li
                img(src='/img/vz-2.jpg', alt='exterior shot of the Verizon building at Super Bowl City')
            li
                video(controls)
                    source(src='/video/vz-3.mp4', type='video/mp4')
            li
                img(src='/img/vz-4.jpg', alt='Wall-sized computer monitor')
            li
                img(src='/img/vz-5.jpg', alt='Winners in front of the screen')
            li
                img(src='/img/vz-6.jpg', alt='The control room behind the scenes')